*{
    margin: 0;
    padding: 0;
}


nav{
    position: absolute;
    top:50px;
    right:0px;
}
ul{
    float:right;
    list-style-type:none;
    margin-top: 50px;
    
}
ul li{
    display: inline-block;
    
}
ul li a{
    text-decoration: none;
    color:rgb(14, 61, 6);
    padding:5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease; 
    font-size:20px;
    
}
ul li a:hover{
    background-color: #fff;
    color:black;}



.head__logo{
    width: 100px;
    height: 100px;
    border-radius:100% ;
    display: inline;


}
.head--bigger{
    font-size: 100px;
}

.head{
    display:flex;

}
h1{
    color: rgb(14, 61, 6);
    padding:40px
    
}
h1{
    font-size:50px;

}
img{
    width: 350px;
    height: 500px;
}


.container{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows:  15%  10% auto  10%;
    justify-content: space-around;
}
.head{
   
    grid-row: 1 /2;
    grid-column: 1/4;
}
.h1{
  
    grid-row: 2/3;
    grid-column: 1/4;
}
.zum{
    
    grid-row: 3/4;
    grid-column: 1/2;
}
.cycle{
    
    grid-row: 3/4;
    grid-column: 2/3;
}
.yoga{
   
    grid-row: 3/4;
    grid-column: 3/4;
} 

.add__icon{
        height: 30px;
        width: 30px;
    }
footer{
    background-color: rgb(14, 61, 6);
    grid-row: 4/5;
    grid-column: 1/4;
   
}
.add{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #fff;
}
p1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #fff;
}
a{
    color:#fff
}
@media only screen and (max-width:391px){
    .head--bigger{
        font-size:36px;
    }
    .container{
        display: block;
    
    }
    h1{
    color: rgb(14, 61, 6);
    padding:40px;
    font-size:35px;
    
}
footer{
    background-color: rgb(14, 61, 6);
    grid-row: 4/5;
    grid-column: 1/4;
    visibility:hidden;
   
}


}
@media only screen and (max-width:413px){
    .head--bigger{
        font-size:36px;
    }
    .container{
        display: block;
    
    }
    h1{
    color: rgb(14, 61, 6);
    padding:40px;
    font-size:35px;
    
}
footer{
    background-color: rgb(14, 61, 6);
    grid-row: 4/5;
    grid-column: 1/4;
    visibility:hidden;
   
}


}
@media only screen and (max-width:426px){
    .head--bigger{
        font-size:36px;
    }
    .container{
        display: block;
    
    }
    h1{
    color: rgb(14, 61, 6);
    padding:40px;
    font-size:35px;
    
}
footer{
    background-color: rgb(14, 61, 6);
    grid-row: 4/5;
    grid-column: 1/4;
    visibility:hidden;
   
}
ul li a{
    text-decoration: none;
    color:rgb(14, 61, 6);
    padding:5px ;
    border: 1px solid transparent;
    transition: 0.6s ease; 
    font-size:20px;
    
}
ul li{
    display:block;
    
}
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 500px;
    color: rgb(14, 61, 6);
}
p{
    font-family: 'Raleway', sans-serif;
    padding:12px;

}
@media only screen and (max-width:321px){
    .head--bigger{
        font-size: 38px;
    }
    .container{
        display: block;
    
    }
    h1{
    color: rgb(14, 61, 6);
    padding:1px;
    font-size:35px;
    
}
footer{
    background-color: rgb(14, 61, 6);
    grid-row: 4/5;
    grid-column: 1/4;
    visibility:hidden;
   
}
h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 500px;
    color: rgb(14, 61, 6);
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding:12px;
}
img{
    width: 200px;
    height: 400px;
}
ul li a{
    text-decoration: none;
    color:rgb(14, 61, 6);
    padding:10px;
    border: 1px solid transparent;
    transition: 0.6s ease; 
    font-size:10px;
    
}
ul li{
    display:block;
    
}

}

@media only screen and (max-width:376px){
    .head--bigger{
        font-size: 38px;
    }
    .container{
        display: block;
    
    }
    h1{
    color: rgb(14, 61, 6);
    padding:1px;
    font-size:35px;
    
}
footer{
    background-color: rgb(14, 61, 6);
    grid-row: 4/5;
    grid-column: 1/4;
    visibility:hidden;
   
}
h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 500px;
    color: rgb(14, 61, 6);
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding:12px;
}
img{
    width: 200px;
    height: 400px;
}
ul li a{
    text-decoration: none;
    color:rgb(14, 61, 6);
    padding:5px ;
    border: 1px solid transparent;
    transition: 0.6s ease; 
    font-size:15px;
    
}
ul li{
    display:block;
    
}
}
@media only screen and (max-width:768px){
    .head--bigger{
        font-size: 38px;
    }
    .container{
        display: block;
    
    }
    h1{
    color: rgb(14, 61, 6);
    padding:1px;
    font-size:35px;
    
}
footer{
    background-color: rgb(14, 61, 6);
    grid-row: 4/5;
    grid-column: 1/4;
    visibility:hidden;
   
}
h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 500px;
    color: rgb(14, 61, 6);
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding:12px;
}
img{
    width: 380px;
    height: 400px;
}
}
@media only screen and (max-width:1024px){
    .head--bigger{
        font-size: 38px;
    }
    .container{
        display: block;
    
    }
    h1{
    color: rgb(14, 61, 6);
    padding:1px;
    font-size:35px;
    
}
footer{
    background-color: rgb(14, 61, 6);
    grid-row: 4/5;
    grid-column: 1/4;
    visibility:hidden;
   
}
h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 500px;
    color: rgb(14, 61, 6);
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding:12px;
}
img{
    width: 380px;
    height: 400px;
}
}
